<!--
    TODO: ler json com as ultimas materias de: https://oglobo.globo.com/api/v1/ultimas-noticias/ece_frontpage/conteudo.json
-->
<section id="list">
    <ul id="content-list">
        <% for(var i = 1; i <= 5; i++) { %>
            <li>
                <a href="/materias/<%=i%>">Matéria <%= i %></a>
            </li>
        <% } %>
    </ul>
</section>