<html>
<head>
    <title>Poc amp-access - Página Inicial</title>
</head>
<body>
   <%- include('../partials/header'); %>

    <%- include('../partials/ultimas'); %>

    <%- include('../partials/footer'); %>
</body>
</html>