<html>
<head>
    <title>Poc amp-access - Login</title>
</head>
<body>
    <h1>Login</h1>

    <p>
        <strong>Parâmetros recebidos na requisição</strong><br/>
        rid: <%= rid %><br/>
        canonicalUrl: <%= canonicalUrl %>        
    </p>

    <p>Aqui faremos a integração com o GloboId, ou provavelmente nesse passo já teríamos redirecionado o usuário para o GloboId e recebido o callback com o GLBID</p>

</body>
</html>